source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0
nuget AsyncSeq
nuget DotNetZip
nuget FSharp.Configuration
nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.SystemTextJson
nuget Spectre.Console